/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */
/*  */

body {
  font-family: "FuturaPT-Bold",
  "Helvetica-Bold",
  Helvetica,
  sans-serif;
}

input {
  border: black solid 1px
}

.nav {

  letter-spacing: 5px;
  display: flex;
  justify-content: space-around;
  
  border-bottom: black solid 1px;
  border-top: black solid 1px;

  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-left {
  display: inline;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.nav-center a {
  position: relative;
  color: #000;
  text-decoration: none;
  font: bolder;
}

.nav-center a:hover {
  color: #000;
  border-bottom: blue 3px solid;
  transition: 0.3s ease-in-out;
}

.nav-right a {
  color: #000;
  text-decoration: none;
  font-size: 10px;
}


/*  */
/*  */

.login-form-container {
  text-transform: uppercase;
  display: flex;
}

.login-form-box {
  margin-left: 20px;
}

.new-customer-box {
  border-left: grey solid 1px;
  padding: 40px;
}

.backgroundImg {
  width: 50%;
  height: auto;
}

/*  */
/*  */

.product-nav {
  padding: 10px 75px;
  background-color: rgb(31, 29, 29);

  display: flex;

  align-items: center;
  justify-content: space-between;
  
  width: 40%;
  height: 50px;
}

.product-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 21px;

  padding: 0 15px;
}


