.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}

.slideset {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slide {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  color: #fff;
}

.slide-arrow {
  cursor: pointer;
  font-size: 2rem;
  top: 50%;
  padding: 1%;
  color: grey;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.home-photo2 {
  z-index: -1;
  width: 100%;
  height: auto;
  display: block;
}

.inner-hp2 {
  position: absolute;
  bottom: 0;
  margin-left: 45%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:50%;
}

.small-title {
  font-size: 38px;
  letter-spacing: 3px;
  line-height: 40px;
}

.small-description {
  letter-spacing: 1px;
}