.cart-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.cart-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.thumb {
  width: 15%;
}

.subtotal {
  padding-top: 5%;
  margin-left: 83%;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.empty-cart a {
  text-decoration: none;
  
}