.footer-main {
  margin-top: 20px;
  border-top: 1px solid black;
  width: 100%;
  padding-right: 0 10%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

#github-logo {
  margin-left: 5px;
  width: 7%;
}

#linkedin-logo {
  width: 120%
}