.footer-main {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  background-color: #03ACCE;
  font-family: "FuturaPT-Book","Helvetica-Light",Helvetica,sans-serif;
}

#github-logo {
  margin-left: 5px;
  width: 7%;
}

#linkedin-logo {
  width: 120%
}