body {
  font-family: "FuturaPT-Bold",
    "Helvetica-Bold",
    Helvetica,
    sans-serif;
}

input, textarea {
  border: black solid 1px;
  padding: 4px 25px;
  box-sizing: border-box;
  outline: 0;
}

.nav {

  letter-spacing: 5px;
  display: flex;
  justify-content: space-around;


  border-top: black solid 12px;

  padding-top: 10px;
  padding-bottom: 15px;
}

.nav-left {
  display: inline;
  padding: 0 3%;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}



.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}



.nav-right a {
  color: #000;
  text-decoration: none;
  font-size: 9px;
}

/* .nav-right:last-child {
  padding-right: 30px;
} */


/*  */
/*  */

.login-form {
  box-sizing: border-box;
}

.login-form li {
  text-transform: initial;
}

.login-form-container {
  text-transform: uppercase;
  display: flex;
  list-style: none;
  font-family: "FuturaPT-Book",
    Helvetica,
    sans-serif;
  padding-top: 50px;
}

.login-form-box {
  width: 60%;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}

.login-form-box label {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 21px;
}

.login-form-container h3 {
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 30px;
}

.login-form-container p {
  font-size: 15px;
  text-transform: initial;
  letter-spacing: 1px;
  /* margin-bottom: 15px; */
  line-height: 25px;
}

.dummy label {
  font-size: 13px;
}

.dummy span {
  text-transform: initial;
  padding-left: 10px;
  font-size: 13px;
}

.dummy input {
  margin-left: 0;
  border: 1px solid #aaa;
  cursor: pointer;
  vertical-align: middle;
}

.new-customer-box {
  /* border-left: grey solid 1px;
  padding: 40px; */
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
}

.backgroundImg {
  width: 50%;
  height: auto;
}

.login-input {
  width: 50%;
  padding: 16px;
}

.login-form-container a {
  font-size: 14px;
  text-transform: capitalize;
}

.session-submit {
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  min-height: 48px;

  text-align: center;

  background: black;
  color: white;
  border: 0;
  padding: 0 25px;

}

/*  */
/*  */

div.new-customer-box {
  border-left: solid 1px rgb(189, 185, 185);
}

.new-customer-box p {
  font-size: 13px;
  margin: 15px 0 15px 0;

}

.nav-center a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 4px;
  font-weight: 650;
  // margin-right: 20px;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease-out;
  
}

.nav-center a:hover {
  // border-spacing: 3px;
  border-color: #008CA8;
}

.search-icon {
  border-radius: 5px;
}
