.index {
  display: flex;
  padding: 3% 5%;
}

.index-filter {
  padding-right: 3%
}

.form-filter {
  display: flex;
  flex-direction: column;
}

.product-list ul {
  display: flex;
  justify-content: space-around;
}

.index-container {
  display: flex;
  margin: 0 10px;
  padding-top: 30px;
}

.sidebar {
  width: 25%;
}

.product-list {
  width: 75%;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}

.home-link {
  padding-left: 10px;
}

.product-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-items a {
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;

}

.product-items:hover {
  box-shadow: 0 0 1px 1px #cacaca;
  transition: box-shadow 0.5s;
}

.product-list-item {
  width: 20%;
  height: auto;
  display: inline-block;
  position: relative;
  text-align: center;
}

.product-list-item:hover {
  box-shadow: 0px 0px 8px 0px;
}

.thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

.product-list-item p {
  padding-top: 5px;
}

.form-filter label:hover {
  color: #008C98;
  cursor: pointer;
}