// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homePage {
  // display: inline-block;
  // position: relative;
  // max-width: 100%;
  // vertical-align: middle;
  // overflow: hidden;
  // // -webkit-transform: translateZ(0);
  // margin: 0;
  width: 100%;
  // box-sizing: border-box;
  height: auto;
}

.homePage1 {
  position: absolute;
  min-height: fit-content;
  width: 100%;
  height: auto;
  color: #fff;
}

.homePhoto1 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
}

.homePage1b {
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  
}

.inner-hP1 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-hP1 h1 {
  font-size: 6vw;
}

.product-nav {
  padding: 10px 75px;
  background-color: rgb(31, 29, 29);

  display: flex;

  align-items: center;
  justify-content: space-between;
  
  width: 40%;
  height: 30px;
  margin-bottom: 50px;
}

.product-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 21px;

  padding: 0 15px;
}