// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homePage {
  width: 100%;
  height: auto;
}

.homePage1 {
  position: relative;
  min-height: fit-content;
  height: 450px;
  width: 100%;
  background: url('home_page_1.jpg');

  background-size: cover;
 

}

.homePage1b {
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  
}

.product-nav {
  padding: 10px 75px;
  background-color: rgb(31, 29, 29);

  display: flex;

  align-items: center;
  justify-content: space-between;
  
  width: 40%;
  height: 50px;
}

.product-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 21px;

  padding: 0 15px;
}